  <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Women Who <span class="text-muted">Code</span></h2>
          <p class="lead"> Women Who Code is a global non-profit dedicated to inspiring women to excel in technology careers.  We provide an avenue into tech, empower women with skills needed for professional advancement, and provde environments where networking and mentorship are valued.  The organization has executed more than 1,200 free events around the world, garnered a membership exceeding 20,00 and has a prescence in 15 countries </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="https://www.womenwhocode.com/assets/wwcode_logo-53b085bf901b5fd3254fc67dc7bd56ff.png" height= "500px" width="500px" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/5/57/One-Month_Brand_Favicon.png" height= "500px" width="500px"alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">One <span class="text-muted">Month</span></h2>
          <p class="lead">One Month is an online accelerated learning platform largely featuring technology-based courses.  They curently provide online tutorials for Ruby on Rails, HTML, CSS, Growth Hacking, iOS, Stripe and Web Security. </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">WWC <span class="text-muted"> + </span> OMR</h2>
          <p class="lead">Women Who Code of DC and One Month have decided to conduct a collaboration in teaching women how to build their first application using one of the popular frameworks called Ruby on Rails.  Using One Month Rails online software, for month members of the organization gather every week to network and grow together in learning this new tool</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://www.softwarehamilton.com/wp-content/uploads/2013/08/llcteacher.jpg" height= "500px" width="500px" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
