<h1> About Us </h1>
<p> Women Who Code of DC and One Month Rails decided to partner together host a one month session on teaching women within the technology industry </P>

<!-- Jumbotron with the Featurettes dividers on this page --> 