<div class="jumbotron">
	<h1>Welcome to Pinterest</h1>
	<p><%= link_to "Sign Up","#", class: "btn btn-primary btn-lg" %> OR <%= link_to "Log In", "#", class: "btn btn-primary btn-lg"%></p>
	<!--creates a link to wherever. Rails function"linkto" -->
</div>